<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <title>About</title>
</head>
<body>
    <!-- FIRST -->
    
    <div class="navbar">
        <div class="flex1">
            <h2>VIGNETO</h2>
            
            <p>VINEYARDS</p>
        </div>
        <div class="flex2">
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a>|&nbsp;&nbsp;&nbsp;</li>
                     
                    <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;&nbsp;</li>

                    <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;&nbsp;</li>
                   
                    <li><a href="contact.html">CONTACT</a></li> 
                </ul>
            </nav>
        </div>

    </div>

    <!-- SECOND -->
<br>

    <img src="about-images/front.jpg" alt="">

    <div class="abss abss1">
        <h2>About Us</h2> 
    </div>

    <br><br>

    <!-- THIRD -->

   
        <div class="grid1 con1">
            <h3 class="h3">EST. 1984</h3>
            <br>
            <h1>Tradition is key to quality</h1>
            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more. For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
        </div>

        
<div style="background:#fafafa; padding: 0%;">
    <div class="content">
        
        <div class="grid1 con1 background"> 
            <h3 class="h3">BACKSTORY</h3>
            <br>
            <h1>Aging like fine wine</h1>
            <p>I’m a text box. Double click me to edit the text or to change the way I look.</p>
        </div>

         <div class="grid grid-con">
            <div class="grid1 background con2">
                <h3 class="h3">1904</h3>
                <h1>Winery's First Harvest</h1>
                <br>
                <p>’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
            </div>
            <div>
                <img  class="con-img" src="about-images/pic-1.jpg" alt="">
            </div>
            <div>
                <img class="con-img"  src="about-images/pic-2.jpg" alt="">
            </div>
            <div class="grid1 background con2">
                <h3 class="h3">1995</h3>
                <h1>Natural Farming Is Introduced</h1>
                <br>
                <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
            </div>
            <div class="grid1 background con2">
                <h3 class="h3">2015</h3>
                <h1>Launch Of Our Winemaking Program</h1>
                <br>
                <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
            </div>
            <div>
                <img class="con-img" src="about-images/pic-3.jpg" alt="">
            </div>
            
        </div>

        <div class="grid1 con1 background"> 
            <h3 class="h3">2020</h3>
            <h1 style="font-size:33px;">Today's Situation</h1>
            <p >I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
        </div>
    </div>
</div>

                        <!-- FOOTER -->

<div style="background-color:rgb(36, 36, 36) ;">
    <img src="images/lastt.jpg" alt="" >
    <div class="main">
    <div class="grid grid-about">
        <div>
            <img class="imgg" src="about-images/pro.jpg" alt="">
        </div>
        <div class="grid1 background con2 about">
            <h3 class="h3">FOUNDER & OWNER</h3>
            <h1 >Jennifer Lucas</h1>
            <br>
            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more. For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
        </div>
    </div>
</div>
<div class="footer">

<div class="flex1">
    <h2 style="font-size: 45px; font-weight: 100;">VIGNETO</h2>
    
    <p>VINEYARDS</p>

</div>

<div class="flex2">
    <nav>
        <ul>
            <li><a href="index.html">HOME</a>|&nbsp;&nbsp;</li>
            
            <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;</li>

            <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;</li>
        
            <li><a href="contact.html">CONTACT</a></li> 
        </ul>
    </nav>
</div>



<div class="foot">
    <p>
        © Your business name, all rights reserved.
    </p>

    <p>
        Crafted lovingly with <a style="color: rgb(155, 144, 144); text-decoration-line: underline;" href="#"> PageCloud</a>
    </p>
</div>

</div>
</div>
</body>
</html>