<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Events</title>
</head>
<body>
    <!-- FIRST -->
    
    <div class="navbar">
        <div class="flex1">
            <h2>VIGNETO</h2>
            
            <p>VINEYARDS</p>
        </div>
        <div class="flex2">
  <nav>
        <ul>
            <li><a href="index.html">HOME</a>|&nbsp;&nbsp;&nbsp;</li>
              
            <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;&nbsp;</li>

            <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;&nbsp;</li>
            
            <li><a href="contact.html">CONTACT</a></li> 
        </ul>
  </nav>
        </div>

    </div>

     <!-- SECOND -->
<br>

    <img src="events-images/front.jpg" alt="">

    <div class="abss abss1">
        <h2>Events</h2> 
    </div>

    <!-- THIRD -->

    <div style="background:#fafafa; padding: 0%" class="event">
        <br>
        <div class="content">
            
    <div class="grid1 con1 background"> 
        <h3 class="h3">TOURS & TASTINGS</h3>
        <br>
        <h1 style="font-size: 50px;">Upcoming Events</h1>
    </div>

    <div class="grid grid-con grid-event" style="padding:22px 10px;">
    
      <div>
          <img src="events-images/pic-4.jpg" alt=""> 
      </div>
      <div class="grid1 background con2">
      <h1>Chef's Selection Tasting Pass</h1>
      <br>
      <h3 class="h3">OCTOBER 12, 2020 - 5:30PM</h3>
      <br>
      <p>’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
      <br>
      <p><span style="color: black;">Time:</span><span>  6pm to 11pm</span></p>
      <br>
      <p><span style="color: black;">Location:</span><span> 123 Someplace Drive, City</span></p>
      <br>
      <p><span style="color: black;">Event type:</span><span> Wine/Food Pairing</span></p>
      
      <a class="btn btn1" href="#">RSVP</a>
        </div>
        
        <div>
            <img class="con-img"  src="events-images/barrel.jpg" alt="">
        </div>
        <div class="grid1 background con2">
            
            <h1>Harvest Barrel Cellar Dinner</h1>
            <br>
            <h3 class="h3">OCTOBER 21, 2020 - 7:00PM</h3>
            <br>
            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
            <br>
            <p><span style="color: black;">Time:</span><span>  6pm to 11pm</span></p>
            <br>
            <p><span style="color: black;">Location:</span><span> 123 Someplace Drive, City</span></p>
            <br>
            <p><span style="color: black;">Event type:</span><span> Wine/Food Pairing</span></p>
            <a class="btn btn1" href="#">RSVP</a>
        </div>

        <div>
            <img class="con-img" src="events-images/third.jpg" alt="">
        </div>

        <div class="grid1 background con2">
            
            <h1>Cabernet, All Day</h1>
            <br>
            <h3 class="h3">OCTOBER 26, 2020 - 4:00PM</h3>
            <br>
            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>
            <br>
            <p><span style="color: black;">Time:</span><span>  6pm to 11pm</span></p>
            <br>
            <p><span style="color: black;">Location:</span><span> 123 Someplace Drive, City</span></p>
            <br>
            <p><span style="color: black;">Event type:</span><span> Wine/Food Pairing</span></p>
            <a class="btn btn1" href="#">RSVP</a>
        </div>
    <br>
    <br>
    </div>
</div>
</div>
    
    
            <!-- Forth -->

    <div class="grid1 con1 "> 
    <br>
    <br>
        <h3 class="h3">FOLLOW US ON SOCIALS</h3>
        <br>
        <h1 style="font-size: 45px;">Tag Us Vigneto Vineyards</h1>

    </div>

    

    <!-- FIFTH -->
          <div class="row">
            <div>
          <img src="events-images/first.jpg" alt="...">
        </div>
        <div>
          <img src="events-images/second (2).jpg" alt="..."> 
        </div>
        <div>
          <img src="events-images/third.jpeg" alt="...">
        </div>
        <div>
          <img src="events-images/forth.jpeg" alt="..."> 
        </div>
        <div>
          <img src="events-images/fifth.jpg" alt="...">
        </div>
        </div>

        <div class="row">
          <div>
        <img src="events-images/sixth.jpg" alt="...">
        </div>
        <div>
        <img src="events-images/seveth.jpg" alt="..."> 
        </div>
        <div>
        <img src="events-images/eighth.jpg" alt="...">
        </div>
        <div>
        <img src="events-images/ninth.jpeg" alt="..."> 
        </div>
        <div>
        <img src="events-images/tenth.jpg" alt="...">
        </div>
        </div>


<br><br><br><br><br>
        <!-- FOOTER -->

<div class="footer">
            
  <div class="flex1">
      <h2 style="font-size: 45px; font-weight: 100;">VIGNETO</h2>
      
      <p>VINEYARDS</p>

  </div>

  <div class="flex2">
  <nav>
      <ul>
          <li><a href="index.html">HOME</a>|&nbsp;&nbsp;</li>
          
          <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;</li>

          <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;</li>
      
          <li><a href="contact.html">CONTACT</a></li> 
      </ul>
  </nav>
  </div>



  <div class="foot">
      <p>
          © Your business name, all rights reserved.
      </p>

      <p>
          Crafted lovingly with <a style="color: rgb(155, 144, 144); text-decoration-line: underline;" href="#"> PageCloud</a>
      </p>
  </div>

  </div>

</body>
</html>