<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Home | Vigneto</title>
</head>
<body>
    <!-- FIRST -->
    
    <div class="navbar">
        <div class="flex1">
            <h2>VIGNETO</h2>
            <p>VINEYARDS</p>
        </div>
        <div class="flex2">
        <nav>
            <ul>
                <li><a href="index.html">HOME</a>|&nbsp;&nbsp;&nbsp;</li>
                    
                <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;&nbsp;</li>

                <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;&nbsp;</li>
                
                <li><a href="contact.html">CONTACT</a></li> 
            </ul>
        </nav>
        </div>

        <!-- SECOND -->
 </div>

<br>
    <img src="images/picc1.jpg" alt="">
 
<div class="abs">
    
        <h3>Vigneto Vineyards</h3>
        <br>
        <h1>The ultimate food and wine experience</h1>
        <br>
        <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.</p>
    </div>
    
    <br>
    <br>
    <br>
    

    <!-- THIRD -->

    <div class="container">
        <div class="flex3">
            <h3>WINE TASTING EXPERIENCE</h3>
            <br>
            <h1>Every Empty Bottle Is Filled With A Great Story</h1>
            <br>
            <br>
            <br>
            <br> 
        </div>

        <div class="flex4">

            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more. For advanced styling options, click on “more” located on the right hand side of the text editing menu. Click once to move me or to bring up the resize handles and Squeegee Tool.</p>

            <p> The resize handles allow you to make me any size you want. The Squeegee Tool, located in the top left of any selected object, helps you move all objects below it up or down to create or remove space.  </p>

        </div>
    </div>

    <!-- FORTH -->

    <img src="images/forth.jpg" alt="">

    <div class="abs1">
        <h3>MONTEPULCIANO, ITALY</h3>
        <br>
        <h1>Wine Pairs Nicely With Good Friends</h1>
        <br>
        <br>
        <a class="btn" href="#">UPCOMING EVENTS</a>

    </div>

    <!-- fifth -->
    <br>
    <br>
    <br>
    
   
    <div class="container1">
        <div class="flex5">
            <h3 class="h3">ABOUT</h3>
            <br>
            <h1>Adventure Is The Best Way To Learn Something New</h1>
            <br>
            <br>
            <br>
            <br> 
        </div>

        <div class="flex6">

            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more.  For advanced styling options, click on “more” located on the right hand side of the text editing menu.</p>

            <br>
            <p> Click once to move me or to bring up the resize handles and Squeegee Tool. The resize handles allow you to make me any size you want.</p>

            <br>
            <p>I’m a text box. Double click me to edit the text or to change the way I look. You can change the font, size, color, and so much more. </p>

        </div>
    </div>



    <!-- SIXTH -->

    <div style="background:#f5f2f2 ; padding: 0%;">

    <div class="grid">
        <div class="grid-img">
            <img src="images/thirrd.jpg" alt="">

        </div>

        <div class="grid1">
            <h3 class="h3">WINE TASTINGS</h3>

            <br>

            <h1>Book Your Next Adventure</h1>

            <p>I’m a text box. Double click me to edit the text or to change the way I look.</p>

            <a class=" btn btn-outline" href="#">BOOK A TOUR</a>

        </div>

        <div class="grid2">
            <h3 class="h3">EVENTS</h3>

            <h2>Our Events</h2>

            <br>

            <div class="grid grid-icon">
                <div>
                    <img class="img1" src="images/iconn1.jpg" alt="">
                </div>

                <div>
                    <h4>Visit Wine Country</h4>

                    <p>I’m a text box. Double click me to edit the text or to change the way I look.</p>
                </div>

                <div>
                    <img class="img1" src="images/icon2.jpg" alt="" >
                </div>

                <div>
                    <h4>Wine Events</h4>

                    <p>I’m a text box. Double click me to edit the text or to change the way I look.</p>
                </div>

            </div>

        </div>

        <div class="grid-img">
                <img src="images/forthh.jpg" alt="">
        </div>

    </div>

</div>

    <!-- SEVENTH -->

        <div style="background-color:rgb(36, 36, 36) ;">
            <img src="images/last.jpg" alt="">

        <div class="abss">
            <p>A New Adventure Is Waiting For You<p>
        </div> 
        <div class="footer">
           
           <div class="flex1">
            <h2 style="font-size: 45px; font-weight: 100;">VIGNETO</h2>
            
            <p>VINEYARDS</p>

        </div>

        <div class="flex2">
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a>|&nbsp;&nbsp;</li>
                     
                    <li><a href="about.html">ABOUT </a>|&nbsp;&nbsp;</li>

                    <li><a href="events.html">EVENTS </a>|&nbsp;&nbsp;</li>
                   
                    <li><a href="contact.html">CONTACT</a></li> 
                </ul>
            </nav>
        </div>  
    
        <div class="foot">
            <p>
                © Your business name, all rights reserved.
            </p>

            <p>
                Crafted lovingly with <a style="color: rgb(155, 144, 144);text-decoration-line: underline;" href="#"> PageCloud</a>
            </p>
        </div>
    
    </div>
</div>
</body>
</html>